body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: flex; /* dispone in orizzontale */
    background-color: #293133;
    list-style: none; /* toglie sia sottolineatura e puntini */
    justify-content: center;
    gap: 60px;
    margin: 0;
    padding: 20px 0px 20px 0px;
}

.nav li{
    display: inline-block; /* Fondamentale per far funzionare transform */
    transition: 0.3s;
    color:#fff;
    font-size: 1.2rem;
    font-family:  "Cormorant SC", serif;
    font-weight: 600;
}

.nav li:hover{
    color: rgb(182, 175, 113);
    transform: scale(1.25);
    transition: 0.5s ;
}

.nav a{
    text-decoration: none;
    color: inherit;
}

.hero{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('ristorante.webp'); /* Se scrivi del testo bianco sopra un'immagine colorata, 
    spesso non si legge nulla. Per risolvere aggiungiamo uno strato scuro direttamente nel CSS usando*/
    background-repeat: no-repeat; /* 2. Impedisce all'immagine di ripetersi se è piccola */
    background-position: center; /* 3. Centra l'immagine sia in orizzontale che in verticale */
    background-size: cover; /* 4. LA PROPRIETÀ MAGICA: adatta l'immagine coprendo tutto lo spazio senza distorcerla (fondamentale per il responsive) */
    height: 100vh; /* 5. Definisci un'altezza altrimenti il contenitore è invisibile, con la misura px definisci tu la dimensione fissa dell'immagine
    che non va bene se fai un sito responsive e inoltre non essendo dentro un div tu devi fare un casino per dire di avere l'immagine a pieno schermo quindi
    usi l'unita di misura vh che guarda la pagina intera e non conta un div*/
    color: rgb(255, 255, 255);
    background-color: #293133;;

    /* hai usato una flexbox per sistemare al centro della section il testo*/ 
    display: flex;
    /* 2. Decidi la direzione (colonna, così i testi stanno uno sotto l'altro) */
    flex-direction: column;
    /* 3. Centra orizzontalmente (asse y) */
    align-items: center;
    /* 4. Centra verticalmente (asse x) */
    justify-content: center;
    /* Per sicurezza, centra il testo dentro se stesso */
    text-align: center;
}

/* codice pre-assegnato per il font */ 
.hero h1 {
  font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-size: 6rem;
  font-style: normal;
  padding: 0vh 6vh 0vh 6vh;
}

.hero h3 {
  font-family: "Cormorant SC", serif;
  font-weight: 500;
  font-size: 3rem;
  font-style: normal;
  padding: 0vh 6vh 0vh 6vh;
}

.hero p {
  font-family: "Cormorant SC", serif;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  padding: 0vh 6vh 0vh 6vh;
}

/* intro */ 

.intro{
    background-color: #4b3128;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro h3{
    font-family: "Cormorant SC", serif;
    font-weight: 500;
    font-size: 3rem;
    font-style: normal;    
    margin-top: 0;
    margin-bottom: 0;
    padding: 0vh 6vh 0vh 6vh;
}

.intro p{
    font-family: "Cormorant SC", serif;
    font-weight: 400;
    font-size: 1.8rem;
    padding: 0vh 6vh 0vh 6vh;
}


/* style for text */
.container{
    padding: 0% 5% 5% 5%;
    background-color: #c19a6b;
}
.titolo{
    text-align: center;
    color: #4b3128;
}
.titolo h2{
    font-family: "Cormorant SC", serif;
    font-weight: 600;
    font-size: 4rem;
    font-style: normal;
    margin: 0;
    padding: 2% 0% 2% 0%;
}

.titolo p{
    font-family: "Cormorant SC", serif;
    font-weight: 800;
    font-size: 1.5rem;
    font-style: normal;
    margin: 0;
    padding: 0% 0% 3% 0%;
}

.card-piatto{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: -10px 10px 20px rgba(0,0,0,0.5); /*primo numero positivo dx, negativo sx, secondo num positivo in basso, negativo sopra,
    terzo num sfocatura ombra, ultimo colore ombra*/
    overflow: hidden; /* Per non far uscire l'immagine dai bordi curvi */
    
    /* LA REGOLA D'ORO DEL FLUIDO */
    /* flex-grow: 1 (occupa lo spazio vuoto) */
    /* flex-shrink: 1 (restringiti se necessario) */
    /* flex-basis: 300px (la larghezza ideale minima) */
    flex: 1 1 300px; 
    
    /* Opzionale: metti un limite massimo se non vuoi card giganti su schermi enormi */
    max-width: 350px; 

    /* Torniamo alla colonna verticale per il contenuto della card */
    display: flex;
    flex-direction: column;
}

.card-piatto img{
    width: 100%;
    height: 250px; /* Altezza fissa per tenerle ordinate */
    object-fit: cover; /* In breve: object-fit: cover; dice all'immagine di riempire tutto lo spazio disponibile senza deformarsi. */
}

.info-piatto{
    padding: 25px;
    text-align: center; /* O left, come preferisci */
    
    /* Questo serve a spingere il prezzo sempre in fondo se le descrizioni hanno lunghezze diverse */
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-piatto h3 {
    font-family: 'Cormorant SC', serif;
    font-size: 1.5rem;
    margin: 0 0 10px 0;
    color: #333;
}

.info-piatto p {
    font-size: 1rem;
    font-weight: 500;
    color: #666;
    margin-bottom: 20px;
}

.prezzo{
    font-family: 'Cormorant SC', serif;
    font-weight: bold;
    font-size: 1.4rem;
    color: rgb(255, 153, 0);
    display: block;
    margin-top: auto; /* Spinge il prezzo in basso */
}

/* order card plates */
.griglia-piatti{
    display: flex;
    flex-wrap: wrap; /* FONDAMENTALE: permette di andare a capo */
    gap: 30px; /* Spazio tra le card */
    justify-content: center; /* Centra le card se l'ultima riga non è piena */
}

/* style per chi siamo */

.top{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('chisiamo.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    color: rgb(255, 255, 255);
    background-color: #293133;;

    /* hai usato una flexbox per sistemare al centro della section il testo*/ 
    display: flex;
    /* 2. Decidi la direzione (colonna, così i testi stanno uno sotto l'altro) */
    flex-direction: column;
    /* 3. Centra orizzontalmente (asse y) */
    align-items: center;
    /* 4. Centra verticalmente (asse x) */
    justify-content: center;
    /* Per sicurezza, centra il testo dentro se stesso */
    text-align: center;
}

.top h1{
    font-family: 'Cormorant SC', serif;
    font-size: 4rem;
    font-weight: bold;
}

.chi-siamo{
    /* hai usato una flexbox per sistemare al centro della section il testo*/ 
    display: flex;
    /* 2. Decidi la direzione (colonna, così i testi stanno uno sotto l'altro) */
    flex-direction: column;
    /* 3. Centra orizzontalmente (asse y) */
    align-items: center;
    /* 4. Centra verticalmente (asse x) */
    justify-content: center;
    /* Per sicurezza, centra il testo dentro se stesso */
    text-align: center;
}


.container1{
    font-family: 'Cormorant SC', serif;
    margin: 10px 0px 10px 0px;
    color: #4b3128;
    background-color: #c19a6b;
    margin: 0;
    padding: 20px 20px 20px 20px;
    
}

.container1 h2{
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
    
}

.container1 p{
    font-size: 1.4rem;
    font-weight: 500;
}

.container1 img{
    max-width: 30%;
    margin: 2% 2% 2% 2%;
    border-radius: 12px;
    box-shadow:  -10px 10px 20px rgba(0,0,0,0.5);
    
}

.type1{
    display: flex;
    flex-direction: row;
    max-height: 60%;
}

.type2{
    display: flex;
    flex-direction: row-reverse;
    max-height: 60%;
}



/*footer style */

.foot{
    background-color:#4b3128;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding: 1% 1% 2% 1%;
    margin: 0;
    gap: 100px;
}

.foot h4{
    font-family: 'Cormorant SC', serif;
    font-size: 1.3rem;
    color: rgb(175, 118, 43);
}

.foot p{
    font-family: 'Cormorant SC', serif;
    font-size: 1.1rem;
    color: rgb(226, 194, 151);
}

.contatti{
    text-decoration: underline;
}

.important{
    font-weight: bold;
}

.contact{
    border-right: 50px;
    border-color: aliceblue;
    max-width: 20%;
}

.orari{
    max-width: 20%;
}

.legali{
    max-width: 20%;
}

.social{
    max-width: 20%;
}

.social a {
    text-decoration: none;
    font-size: 1.1rem; /* Grandezza dell'icona */
    color: rgb(226, 194, 151);    /* Il tuo color oro */
    transition: 0.3s;
}

.social a:hover {
    color: white;      /* Cambia colore al passaggio del mouse */
    transform: scale(1.2); /* Si ingrandisce leggermente */
    transition: 0.5s;
}

/* 2. La Media Query (La regola speciale) */
/* Traduzione: "Se la larghezza dello schermo è MASSIMO 768px (dimensione di un tablet/telefono)..." */

@media (max-width: 400px){

    .nav{
        gap: 20px;
    }

    .hero{
        height: 60vh;
    }

    .nav li{
        font-size: 0.8rem;
    }

    .hero h1 {
        font-size: 1rem; /* Rimpicciolisci il testo */
    }

    .hero h3 {
        font-size: 1.4rem; /* Rimpicciolisci anche il sottotitolo */
    }

    .hero p{
        font-size: 1.1rem;
    }

    .intro{
        height: 25vh;
    }

    /* ...allora sovrascrivi queste regole: */
    .intro h3 {
        font-size: 1rem; /* Rimpicciolisci il testo */
    }

    .intro p {
        font-size: 0.4rem; /* Rimpicciolisci anche il sottotitolo */
    }

    .titolo h2{
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .titolo p{
        font-size: 0.6rem;
    }

    .card-piatto{
        margin-bottom: 20px;
        flex: 1 1 150px; 
        max-width: 200px;
        max-height: 230px;
    }

    .card-piatto img {
        height: 100px; /* Possiamo abbassare un po' l'immagine per mostrare più testo */
        margin-bottom: -18px;
        padding: 0;
    }

    .info-piatto h3 {
        font-size: 0.7rem;
        margin: 0;
        padding: 0;
    }
    
    .info-piatto p {
        font-size: 0.5rem; /* Testo un filo più piccolo per non appesantire */
        margin: 5px 0px 0px 0px;
    }

    .griglia-piatti{
        gap: 15px; /* Spazio tra le card */
    }

    .prezzo{
        font-size: 0.7rem;
        margin: 10px 0px 0px 0px;
    }

    /* chi siamo */

    .top{
        height: 30vh;
    }

    .top h1{
        font-size: 2rem;
    }

    .container1 h2{
        font-size: 1.2rem; 
        padding: 5px 0px 5px 0px;
    }

    .container1 p{
        font-size: 0.8rem;
    }

    .container1 img{
        max-width: 60%;    
    }

    .type1{
        flex-direction: column;
        align-items: center;
    }

    .type2{
        flex-direction: column;
        align-items: center;
    }

    .foot{
        flex-direction: row;
        
        padding: 0;
        margin: 0;
        gap: 20px;
    }

    .foot h4{
        font-size: 0.5rem;
    }

    .foot p{
        font-size: 0.4rem;
    }

    .social a{
        font-size: 0.5rem;
    }

    .social a:hover{
        color: white;
        transform: scale(0.7);
        transition: 0.5s;
    }

}

