body {
    margin: 0;
    padding: 0;
}

.hero{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('ristorante.png'); /* Se scrivi del testo bianco sopra un'immagine colorata, 
    spesso non si legge nulla. Per risolvere aggiungiamo uno strato scuro direttamente nel CSS usando*/
    background-repeat: no-repeat; /* 2. Impedisce all'immagine di ripetersi se è piccola */
    background-position: center; /* 3. Centra l'immagine sia in orizzontale che in verticale */
    background-size: cover; /* 4. LA PROPRIETÀ MAGICA: adatta l'immagine coprendo tutto lo spazio senza distorcerla (fondamentale per il responsive) */
    height: 100vh; /* 5. Definisci un'altezza altrimenti il contenitore è invisibile, con la misura px definisci tu la dimensione fissa dell'immagine
    che non va bene se fai un sito responsive e inoltre non essendo dentro un div tu devi fare un casino per dire di avere l'immagine a pieno schermo quindi
    usi l'unita di misura vh che guarda la pagina intera e non conta un div*/
    color: rgb(255, 255, 255);
    background-color: #293133;;

    /* hai usato una flexbox per sistemare al centro della section il testo*/ 
    display: flex;
    /* 2. Decidi la direzione (colonna, così i testi stanno uno sotto l'altro) */
    flex-direction: column;
    /* 3. Centra orizzontalmente (asse principale) */
    align-items: center;
    /* 4. Centra verticalmente (asse secondario) */
    justify-content: center;
    /* Per sicurezza, centra il testo dentro se stesso */
    text-align: center;
}

/* codice pre-assegnato per il font */ 
.hero h1 {
  font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-size: 6rem;
  font-style: normal;
}

.hero h3 {
  font-family: "Cormorant SC", serif;
  font-weight: 500;
  font-size: 3rem;
  font-style: normal;
}

.hero p {
  font-family: "Cormorant SC", serif;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
}

/* 2. La Media Query (La regola speciale) */
/* Traduzione: "Se la larghezza dello schermo è MASSIMO 768px (dimensione di un tablet/telefono)..." */
@media (max-width: 768px) {
    
    /* ...allora sovrascrivi queste regole: */
    .hero h1 {
        font-size: 2.5rem; /* Rimpicciolisci il testo */
    }

    .hero h3 {
        font-size: 1.5rem; /* Rimpicciolisci anche il sottotitolo */
    }
    
}

.intro{
    background-color: #4b3128;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    text-align: center;
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro h3{
    font-family: "Cormorant SC", serif;
    font-weight: 500;
    font-size: 3rem;
    font-style: normal;    
    margin-top: 0;
    margin-bottom: 0;
}

.intro p{
    font-family: "Cormorant SC", serif;
    font-weight: 400;
    font-size: 1.8rem;
    font-style: normal;
    padding: 0vh 10vh 0vh 10vh;
}

@media (max-width: 768px) {
    
    /* ...allora sovrascrivi queste regole: */
    .intro h3 {
        font-size: 1.5rem; /* Rimpicciolisci il testo */
    }

    .intro p {
        font-size: 0.75rem; /* Rimpicciolisci anche il sottotitolo */
    }
    
}

